POSTGRES_PASSWORD=password
POSTGRES_USER=user
POSTGRES_DB=db
DATABASE_URL=postgresql://user:password@localhost:5436/db

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

JWT_SECRET=

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_USE_SSL=
MINIO_BUCKET_NAME=

BASE_URL=


